*
!/.gitignore
# keep git fast, ignore normal Windows directories
AppData/
Downloads/
Documents/
Pictures/
Videos/
Music/
Saved Games/
OneDrive/
!AppData/Local/nvim/**
!README.md
!setup.ps1
!setup.ps1.bak
!git/**
!.wezterm/**