# keep git fast, ignore normal Windows directories
/*
!/AppData
!/git
!/README.md
!/setup.ps1
!/setup.ps1.bak

!/AppData/Local
AppData/Local/*
!AppData/Local/nvim
!AppData/Local/nvim/**

AppData/LocalLow/*
AppData/Roaming/*
