# keep git fast, ignore normal Windows directories
/*
!/AppData
!/git
!/README.md
!/AGENTS.md
!/.gitattributes
!/setup.ps1
!/.keynavrc
!/.bash_aliases
!/.inputrc
!/bin

!/scripts
!/scripts/**

!/.config
!/.config/**
!/.agents
!/.agents/**

!/AppData/Local
AppData/Local/*
!AppData/Local/nvim
!AppData/Local/nvim/**

!AppData/Local/lazygit
AppData/Local/lazygit/*
!AppData/Local/lazygit/config.yml

AppData/LocalLow/*
AppData/Roaming/*
!scoop/persist/btop/btop.conf
!scoop/persist/rustup/.rustup/settings.toml

projects/*

!/.pi
/.pi/*
!/.pi/agent
/.pi/agent/*
!/.pi/agent/settings.json
!/.pi/agent/auth.json

!/ralph
!/ralph/**
